[Unit]
Description=Foreman service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/env python3 %h/.local/share/foreman/foreman_service.py
Restart=on-failure
RestartSec=2
TimeoutStopSec=15

[Install]
WantedBy=default.target
